<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <script src="{{url_for('static', filename='login.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Form Teste</title>

</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <input type="text" id="user" class="fadeIn second" placeholder="Usuario">
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <input type="password" id="password" class="fadeIn third" placeholder="Senha">
                </div>

            </div>
            <div class="row mt-4 mb-3 justify-content-center">
                <div class="col-md-6">
                    <button onclick="login()" class="btn btn-primary w-100" value="Log In">Entrar</button>
                </div>

            </div>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Esqueceu a Senha?</a>
            </div>

        </div>
    </div>


    <div id="meuModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Conteúdo do modal-->
            <div class="modal-content">

                <div class="row justify-content-center mt-3">
                    <div class="col-md-auto">
                        <h5 for="">login efetuado com successo!</h5>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center mt-3">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-auto">
                                <div class=""> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 52 52">
                                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto mt-4">
                        <label>Entrando...</label>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center m-3">
                    <div class="col-md-4">
                        <button class="btn btn-primary w-100" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>